*{
    box-sizing: border-box;
}
.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
}
.header a {
    text-decoration: none;
    color: #fff;
    margin: 0 32px;
    font-weight: 600;
}
.header a:hover{
    color: #FF9900;
}
.text-white{
    color: white;
}